* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: black;
}

body,
html {
  min-height: 100vh;    /* Comeca com a altura da tela do usuario */
  height: 100%;         /* Altura de 100% para componentes de diferentes tamanhos */
  background-color: #1c1c1c;
}

img {
  max-width: 100%;  /* As imagens vão ter inicialmente a altma maxima do componente pai*/
}

button {
  font-weight: bold;  /*Negrito*/
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: linear-gradient(
    90deg, 
    rgba(132,53,222,1) 0%, 
    rgba(184,84,232,1) 100%
  );
  border-radius: 3rem;
  border: none; 
}

button:hover{
  background: linear-gradient(
    90deg, 
    rgba(184,84,232,1) 0%,
    rgba(132,53,222,1) 100%
  );
}